:root {
  /* Variables*/

  --mono: monospace;

  /* animation */

  --articleTextHeight: 100px;

  /* lightMode - For the Light Mode Theme */
  --lightModeBG: #f5f5f5;
  --lightModeHoverBG: #e8e8e8;
  --lightModeText: #202124;
  --lightModeAccent: #17a2e8;

  /* darkMode - For the Dark Mode Theme */
  --darkModeBG: #202124;
  --darkModeHoverBG: #333335;
  --darkModeText: #f5f5f5;
  --darkModeAccent: red;

  /* sheetColours - These feed into the rest of the sheet */
  --backGroundColor: #f5f5f5;
  --backGroundHoverColor: #e8e8e8;
  --textColor: #202124;
  --accentColor: #17a2e8;
}

/*general styling*/

* {
  padding: 0;
  margin: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accentColor) var(--backGroundColor);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--backGroundColor);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accentColor);
  border-radius: 20px;
  border: 3px solid var(--backGroundColor);
}

body {
  background-color: var(--backGroundColor);
  font-family: var(--mono);
  color: var(--textColor);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.gradborder {
  height: 2px;
  background-image: linear-gradient(
    135deg,
    var(--backGroundColor) 0%,
    var(--textColor) 20%,
    var(--textColor) 80%,
    var(--backGroundColor) 100%
  );
}

/* Header Section*/

header nav {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

nav:first-child h2 {
  margin-right: auto;
  padding-top: 2rem;
  margin-top: 0;
}

nav div p {
  text-align: center;
  margin: 0 auto;
}

.navbutton {
  margin: 1rem 0.2rem 0 0.2rem;
  padding-top: 1rem;
  min-width: 5rem;
  transition: background-color 80ms;
  transition-timing-function: linear;
  border-radius: 5px;
}

.navbutton:hover {
  background-color: var(--backGroundHoverColor);
}

.navtext {
  padding: 0.2rem;
  color: var(--backGroundColor);
  transition: color 80ms;
  transition-timing-function: linear;
}

.navbutton:hover .navtext {
  color: var(--textColor);
}

.navicon {
  transition: color 80ms;
  transition-timing-function: linear;
  padding-bottom: 0.1rem;
}

.navbutton:hover .navicon {
  color: var(--accentColor);
}

/* Introduction Session */

#intro {
  max-width: 1200px;
  margin: 0 auto;
}

.introcontainer {
  display: flex;
  flex-flow: row nowrap;
  padding: 3rem 1rem;
}
#intro .name {
  text-justify: right;
  font-size: 4rem;
  padding-right: 3rem;
  align-self: center;
  user-select: none;
}

.name span {
  transition: color 100ms;
  transition-timing-function: ease-in;
}

.name span:hover {
  color: var(--accentColor);
}

#intro .about {
  height: auto;
}

.about h2 {
  color: var(--accentColor);
}

/* Project Section */

#projects {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 1200px;
  overflow: hidden;
}

.slideShowContainer {
  position: relative;
  display: flex;
  height: 20rem;
}

article {
  gap: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  width: 100%;
  transform: opacity 1.5 linear;
}

.articleImgWrapper {
  height: 90%;
  flex-basis: 30%;
  flex-shrink: 0;
  margin-left: 2rem;
}

.articleimg {
  height: 100%;
  object-fit: cover;
}

.articletext {
  flex-basis: 70%;
  height: 90%;
  margin-right: 2rem;
}

.articletext h3 {
  height: 10%;
  margin-bottom: 0.5rem;
  /* border: #17a2e8 solid 2px; */
}

.articletext p {
  /* border: #17a2e8 solid 2px; */
  margin-bottom: 0.5rem;
  height: 70%;
  overflow-y: scroll;
}

.articletext a {
  height: 10%;
}

.slideShowButtons {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 1rem auto;
}

.slideShowButton {
  background-color: var(--textColor);
  margin: 0 0.5rem;
  height: 0.75rem;
  width: 2rem;
  font-size: 0rem;
  /* border: var(--textColor) 0.5rem solid; */
  border-radius: 5%;
  transition: all 0.25s linear;
}

.slideShowButtonSelected {
  background-color: var(--accentColor);
}

.progressBar {
  border: var(--textColor) 2px solid;
  border-radius: 3%;
  height: 0.4rem;
  max-width: 30%;
  margin: 1rem auto;
}

.slideShowProgress {
  background-color: var(--accentColor);
  height: 0.4rem;
  width: 0%;
  animation: progress 10s 1 linear;
  transition: opacity 1.5s linear;
  opacity: 1;
}

#projects .slideShowUnprogress {
  opacity: 0;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.slideTransition {
  transition: transform 1.5s ease-in-out;
  -webkit-transition: transform 1.5s ease-in-out;
  -moz-transition: transform 1.5s ease-in-out;
  -ms-transition: transform 1.5s ease-in-out;
  -o-transition: transform 1.5s ease-in-out;
}

/* Footer Section */

#contact {
  max-width: 1200px;
  padding: 3rem 1rem 1rem 1rem;
  margin: 0 auto;
  text-align: center;
}

footer ul {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

footer ul li {
  text-align: center;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .slideShowContainer {
    height: 400px;
  }

  .slideShowContainer article {
    gap: 2rem;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 1rem;
    justify-content: center;
  }

  .articleImgWrapper {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .articleimg {
    width: 80%;
  }

  .articletext {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-basis: 60%;
    flex-shrink: 2;
    align-self: center;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .articletext p {
    text-align: left;
  }

  .articletext a {
    height: 10%;
    margin-bottom: 1rem;
  }

  .slideShowButtons {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 1rem auto;
  }

  header nav {
    color: var(--textColor);
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  nav:first-child h2 {
    padding-top: 2rem;
    margin-top: 0;
    flex-basis: 100%;
    text-align: center;
  }

  .introcontainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 3rem 1rem;
  }

  #intro .name {
    text-justify: center;
    font-size: 3rem;
    align-self: center;
    padding-bottom: 2rem;
  }

  .name br {
    content: " ";
  }
}

@media screen and (max-width: 400px) {
  .slideShowContainer {
    height: 600px;
  }
}
